    <div class="JumboTronContainer">
        <div class="jumbotron">
            <div class="container">
                <h1>Expense Calculator</h1>
                <p>Calculate your <span class="JumbotronSubTotal">total</span> monthly <span class="JumbotronSubtitle">Savings</span> after inputting <strong class="JumboSubElement">Salary/Hours</strong> and <strong class="JumboSubElement1">Expenses</strong>.</p>
             
            </div>
        </div>
    </div>

    <div class="MainContainer"></div>
    <div class="ShowBtnArea">
        <button type="button" class="btn showBtn btn-warning">Show Calculation Type</button>


    </div>

    <div class="TypeSelectArea">

        <h4>Please select a <span class="element">Salary</span> or <span class="element">Hourly</span> Calculation <span class="hideBtn"><button type="button" class="btn-xs hideBtn btn-warning">hide</button></span>

</h4>
        <div class="btn-group">
            <button type="button" class="btn btn-success SalaryModeBtn" ui-sref="app.calc.Salary" style="color:black">Salary</button>
            <button type="button" class="btn btn-info HourlyModeBtn" ui-sref="app.calc.Hourly" style="color:black">Hourly</button>
        </div>

    </div>